<!doctype html>
<html>
<head>
	<title>node demo</title>
</head>
<body>
	<header><img src="/img/logo.svg" alt="logo" width="100px" height="100px"></header>
	<section id="main">
		{{{body}}}
	</section>
</body>
</html>